
/* 
 *FONDO ESTRELLADO; 
*/
.container {
    background-image: linear-gradient(#07052996, #000);
    position: fixed;
    inset: 0;
    z-index: -10;
  }
  
  .space {
    --size: 2px;
    --space-layer: 4vw 50vh 0 #fff, 18vw 88vh 0 #fff, 73vw 14vh 0 #fff;
    width: var(--size);
    height: var(--size);
    background: white;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    animation: move 30s linear infinite;
    border-radius: 50%;
  }
  
  @keyframes move {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100vh);
    }
  }
  
  .meteor {
    --size: 4px;
    --meteor-layer: none; /* Vamos a asignarlo con JS */
    width: var(--size);
    height: var(--size);
    background: rgb(250, 250, 250);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    border-radius: 50%;
    animation: meteor-move 11s linear infinite;
    box-shadow: var(--meteor-layer); /* Aplicamos el box-shadow de los meteoritos */
  }
  
  @keyframes meteor-move {
    from {
      transform: translate(100vw, 100vh); /* Empieza desde fuera de la pantalla */
    }
    to {
      transform: translate(-100vw, -100vh); /* Se mueve diagonalmente hacia arriba */
    }
  }
  