<div class="container-fluid bg-var-footer">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <div class="col-md-4 d-flex align-items-center ">
                © 2022 Copyright:&nbsp
                <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none text-white lh-1 font-marca">
                    <span class="bi bi-film"></span>
                    <span class="mb-3 mb-md-0 font-marca ">PELI culas</span>
                </a>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="bi-facebook"></i></a>
                </li>
                <li class="ms-3">
                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="bi-twitter"></i></a>
                </li>
                <li class="ms-3">
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="bi-instagram"></i></a>
                </li>
            </ul>

        </footer>
    </div>
</div>