/* Contenedor principal que ocupa toda la pantalla */
.form-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 80vh;
    width: 100%;
    margin-top: 80px;
    /* box-shadow: 0px 8px 20px rgba(250, 3, 3, 0.89); */
    z-index: 999;
  }
  
  .contact-message {
    width: 80%; /* La mitad izquierda para el texto */
    /* display: flex; */
    flex-direction: column;
    padding-left: 5vh;
    
    align-items: center; /* Centrar el texto horizontalmente */
    height: 100%; /* Asegurar que ocupe todo el alto disponible */
    /* Añadir padding lateral para legibilidad */
    
    /* box-shadow: 0px 8px 20px rgba(250, 3, 3, 0.89); */
    z-index: 999;
    padding-right: 50px;
}

/* Estilo para el h2 */
.contact-message h2 {
    font-size: 8.1vh; 
    color: #0eee15;
    text-align: left;
}



/* Estilo para los h3 */
.contact-message h3 {
    font-size: 4.5vh;
    color: #ffffff;
    font-style: italic; /* Añade un toque de elegancia */
    letter-spacing: 2px; /* Espaciado entre letras para más claridad */
    word-spacing: 5px; /* Añade más espacio entre las palabras */
    padding-right: 40px;
    
}


  /* Estilo para el lado derecho (formulario) */
  .formulario {
    width: 50%; /* La mitad derecha para el formulario */
    padding: 40px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar el formulario verticalmente */
    color: white;
    position: relative;
    z-index: 999;
  }
  
  /* Estilos para los campos del formulario */
  .campo {
    margin-bottom: 20px;
  }
  
  .campo__label {
    display: block;
    margin-bottom: 5px;
  }
  
  .campo__field {
    width: 90%;
    padding: 10px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #1c1b1b58;
    color: white;
  }
  
  .campo__field--textarea {
    min-height: 100px;
    max-height: 100px; /* Fija la altura */
    min-width: 80%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 100%; /* Fija el ancho */
    resize: none; /* Deshabilita la opción de redimensionar */
  }
  /* Estilos para los botones */
  .boton {
    background-color: #666666;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #555555;
  }
  
/* Estilo cuando el formulario se ha enviado con éxito */
.form-enviado {
  border: 2px solid green;
  background-color: #e0ffe0;
  opacity: 0.7;
}

/* Estilo del mensaje de éxito */
.mensaje-exito {
  color: #28a745;
  font-size: 5.7vh;
  text-align: center;
  margin-top: -15vh; /* Para mover el mensaje más arriba */
  background-color: #0000009b;
  margin-left: 10vh;
  margin-right: 10vh;
  padding: 5px 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 255, 0, 0.5);
  
  /* Hacer que el mensaje tenga el mismo ancho que el formulario */
  width: 50%; /* Aseguramos que coincida con el ancho del formulario */
 
}

/* *QUERYS*/

@media (max-width: 768px) {
  
  .form-container {
    height: auto;
    display: block;
    margin-top: 40%;
  }
  .contact-message{
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }
  
  .contact-message h2 {
    font-size: 5.5vh;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .contact-message h3 {
    font-size: 3vh;
    text-align: center;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
  }
  .formulario{
    width: 80%;
  }
  .mensaje-exito {
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: 5.5vh;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 50px rgba(0, 255, 0, 0.5);
  }
}


/* *QUERYS PARA OCULTAR*/

@media (max-width: 768px) {
  /* .formulario{
    display: none;
  }
   */
}