<div class="container">
    <div class="text-center m-5">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
    <div class="row">
        <form action="./formulario" method="post">
        
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Precio</label>
                <input type="number" class="form-control" name="precio" placeholder="Precio">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                <input type="text" class="form-control" name="descripcion" placeholder="Descripción">
            </div>
            <div class="mb-3 text-center">
                <input type="submit" class="button btn-primary w-50 p-2" value="Enviar Datos">
            </div>
        </form>
        <div class="text-center validacion">
            <h2 class="text-danger">
                {{validacion}}
            </h2>
        </div>
    </div>
</div>
