<div class="container primer-div">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item banner active">
                {{!-- <img src="../img/jedi-fallen-banner.webp" class="d-block w-100" alt="..."> --}}
                <img src="../img/banner/Doctor_Strange_multiverso_de_la_locura_banner.jpg" class="d-block w-100"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Doctor Strange en el multiverso de la locura (2022)</h5>
                    <p>Viaja a lo desconocido con el Doctor Strange, quien, con la ayuda de tanto antiguos como nuevos
                        aliados místicos, recorre las complejas y peligrosas realidades alternativas del multiverso para
                        enfrentarse a un nuevo y misterioso adversario.</p>
                </div>
            </div>
            <div class="carousel-item banner">
                <img src="../img/banner/Jurassic_World_ Dominion_banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Jurassic World: Dominion (2022)</h5>
                    <p>Cuatro años después de la destrucción de Isla Nublar, los dinosaurios conviven – y cazan – con
                        los seres humanos en todo el mundo. Este frágil equilibrio cambiará el futuro y decidirá, de una
                        vez por todas, si los seres humanos seguirán en la cúspide de los depredadores en un planeta que
                        comparten con los animales más temibles de la creación. 'El épico final de la era Jurassic.'</p>
                </div>
            </div>
            <div class="carousel-item banner">
                <img src="../img/banner/Love_Victor_banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Love, Victor (2020)</h5>
                    <p>Basada en la novela para jóvenes de Becky Albertalli ‘Simon vs. the Homo Sapiens Agenda’, que
                        inspiró el largometraje ‘Love, Simon’. ‘Love, Victor’ sigue a Victor, un nuevo estudiante de
                        Creekwood High School en su autodescubrimiento, enfrentándose a problemas en casa, adaptándose a
                        una nueva ciudad y descubriendo su orientación sexual. Cuando todo se le está haciendo difícil,
                        se acerca a Simon para que le ayude a lidiar con los altibajos de su vida.</p>
                </div>
            </div>
            <div class="carousel-item banner">
                <img src="../img/banner/Obi-Wan Kenobi_banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Obi-Wan Kenobi (2022)</h5>
                    <p>Se centra en Obi-Wan Kenobi 10 años después del final de las Guerras Clon, donde enfrentó su
                        mayor derrota; la caída y corrupción de su mejor amigo y aprendiz de Jedi, Anakin Skywalker se
                        convirtió en el malvado Lord Sith Darth Vader.</p>
                </div>
            </div>
            <div class="carousel-item banner">
                <img src="../img/banner/Peaky_Blinders_banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Peaky Blinders (2013)</h5>
                    <p>La serie está ambientada en el mundo de los gangsters de los años 20, en Birmingham. Un joven a
                        lomos de un hermoso corcel negro recorre las calles de Birmingham (Inglaterra). Estamos en 1919,
                        la Gran Guerra ha terminado, pero aquel individuo posee el don de atemorizar a su paso a
                        cualquier transeúnte. ¿Quién es? ¿Por qué les asusta tanto? Al parecer busca un hechizo, una
                        pócima, que garantice la victoria de su caballo de carreras. Una mujer oriental proveerá al
                        temido muchacho de una mágica especia que hará que el noble animal equino logre su fin.</p>
                </div>
            </div>
            <div class="carousel-item banner">
                <img src="../img/banner/The Boys_banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>The Boys (2019)</h5>
                    <p>Un grupo de vigilantes se dispuso a acabar con los superhéroes corruptos que abusan de sus superpoderes.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>




<div class="container">
    <div class="mt-4 mb-3">
        <h3>Nuevos Estrenos en HD</h3>
    </div>
    {{!-- <div class="row row-cols-1 row-cols-md-2 g-4"> --}}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="../img/peli/Doctor_Strange_multiverso_de_la_locura.jpg" class="card-img-top"
                        alt="Doctor Strange en el multiverso de la locura (2022)">
                    <div class="card-body">
                        <h5 class="card-title">Doctor Strange en el multiverso de la locura (2022)</h5>
                        <p class="card-text">Viaja a lo desconocido con el Doctor Strange, quien, con la ayuda de tanto
                            antiguos como nuevos aliados místicos, recorre las complejas y peligrosas realidades
                            alternativas del multiverso para enfrentarse a un nuevo y misterioso adversario.</p>
                        <p class="card-text">'Entra en una nueva dimensión de Strange.'</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../img/peli/Jurassic_World_ Dominion.jpg" class="card-img-top"
                        alt="Jurassic World: Dominion (2022)">
                    <div class="card-body">
                        <h5 class="card-title">Jurassic World: Dominion (2022)</h5>
                        <p class="card-text">Cuatro años después de la destrucción de Isla Nublar, los dinosaurios
                            conviven – y cazan – con los seres humanos en todo el mundo. Este frágil equilibrio cambiará
                            el futuro y decidirá, de una vez por todas, si los seres humanos seguirán en la cúspide de
                            los depredadores en un planeta que comparten con los animales más temibles de la creación.
                        </p>
                        <p class="card-text">'El épico final de la era Jurassic.'</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../img/peli/Love_Victor.jpg" class="card-img-top" alt="Love, Victor (2020)">
                    <div class="card-body">
                        <h5 class="card-title">Love, Victor (2020)</h5>
                        <p class="card-text">Basada en la novela para jóvenes de Becky Albertalli ‘Simon vs. the Homo
                            Sapiens Agenda’, que inspiró el largometraje ‘Love, Simon’. ‘Love, Victor’ sigue a Victor,
                            un nuevo estudiante de Creekwood High School en su autodescubrimiento, enfrentándose a
                            problemas en casa, adaptándose a una nueva ciudad y descubriendo su orientación sexual.
                            Cuando todo se le está haciendo difícil, se acerca a Simon para que le ayude a lidiar con
                            los altibajos de su vida.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../img/peli/Obi-Wan Kenobi.jpg" class="card-img-top" alt="Obi-Wan Kenobi (2022)">
                    <div class="card-body">
                        <h5 class="card-title">Obi-Wan Kenobi (2022)</h5>
                        <p class="card-text">Se centra en Obi-Wan Kenobi 10 años después del final de las Guerras Clon,
                            donde enfrentó su mayor derrota; la caída y corrupción de su mejor amigo y aprendiz de Jedi,
                            Anakin Skywalker se convirtió en el malvado Lord Sith Darth Vader.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../img/peli/Peaky_Blinders.jpg" class="card-img-top" alt="Obi-Wan Kenobi (2022)">
                    <div class="card-body">
                        <h5 class="card-title">Peaky Blinders (2013)</h5>
                        <p class="card-text">La serie está ambientada en el mundo de los gangsters de los años 20, en
                            Birmingham. Un joven a lomos de un hermoso corcel negro recorre las calles de Birmingham
                            (Inglaterra). Estamos en 1919, la Gran Guerra ha terminado, pero aquel individuo posee el
                            don de atemorizar a su paso a cualquier transeúnte. ¿Quién es? ¿Por qué les asusta tanto? Al
                            parecer busca un hechizo, una pócima, que garantice la victoria de su caballo de carreras.
                            Una mujer oriental proveerá al temido muchacho de una mágica especia que hará que el noble
                            animal equino logre su fin.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../img/peli/The Boys.jpg" class="card-img-top" alt="Obi-Wan Kenobi (2022)">
                    <div class="card-body">
                        <h5 class="card-title">The Boys (2019)</h5>
                        <p class="card-text">Un grupo de vigilantes se dispuso a acabar con los superhéroes corruptos que abusan de sus superpoderes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- <div class="mt-4 mb-3">
        <h3>Últimos lanzamientos</h3>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <img class="image-game mb-2" src="../img/games/spiderman.webp" alt="">
            <h3>Marvel's Spider-Man Remasterizado</h3>
            <p>Marvel’s Spider-Man Remasterizado nos presenta una historia original llena de acción en la que veremos
                cómo las vidas de Peter Parker y Spider-Man chocan entre sí. Juega con un Peter Parker más experimentado
                que lucha contra organizaciones criminales y villanos emblemáticos en la Nueva York de Marvel.</p>
        </div>
        <div class="col-md-4">
            <img class="image-game mb-2" src="../img/games/gotham knights.webp" alt="">
            <h3>Gotham Knights</h3>
            <p>Haz ya la precompra y obtén la skin Kustom 233 para la batimoto. Batman está muerto. Ahora depende de la
                Batifamilia, Batichica, Ala Nocturna, Capucha Roja y Robin, proteger Ciudad Gótica.</p>
        </div>
        <div class="col-md-4">
            <img class="image-game mb-2" src="../img/games/a plague tale.webp" alt="">
            <h3>A Plague Tale: Requiem</h3>
            <p>Embárcate en una aventura desgarradora en un mundo maravilloso y brutal, y descubre el costo de salvar a
                los que quieres en una lucha por sobrevivir. Ataca desde las sombras o desata un infierno con armas,
                herramientas y poderes sobrenaturales.</p>
        </div>
    </div> --}}