* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
Section {
    background-color: #f7f7f7;
}

.snap-container {
    height: 100vh;
    overflow: auto;  
    scroll-snap-type: y mandatory;  
}

.snap-section {
    scroll-snap-align: start;
    min-height: 60vh;
}

.imagen {
    
    background-image: url('../img/bannerprincipal2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

#inicio h1 {
    color:white;
}

#text {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#nosotros h3 {
    text-align: center;
    margin-top: 2rem;
}

#nosotros p {
    text-align:justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    transition: all 600ms;
    width: 100%;
    height: 250px;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
.contenedor-botones {
    right: auto;
    width: 10%;
    padding-left: 0.2rem;
}

.resdes {
    width: 30%;
}

.redes a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;

}

.flecha {
    background-color: #8400ff;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 51px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
    cursor: pointer;
}

.flecha:hover {
    background-color: white;
    color: #8400ff;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .imagen {
        height: 429px;
        background-repeat: no-repeat;
    }
}