/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0b0d20, #01030a); /* Más oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.form-container {
    /* background: #0e0c0c; */
    /* background: linear-gradient(135deg, #262635, #0104449a); */
    background: linear-gradient(135deg, #000531, #000000); /* Más oscuro */
    border-radius: 10px;
    padding: 2rem;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 8px 20px rgba(39, 4, 236, 0.171);

    width: 100%;
    max-width: 400px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fffdfd;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 0.9rem;
    color: #fffdfd;
    margin-bottom: 0.5rem;
}

.input-group input {
    padding: 0.8rem;
    border: 2.5px solid #060e7c;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #4e54c8;
}

.submit-button {
    background: linear-gradient(135deg, #2c33be, #070b61);
    color: #fff;
    padding: 0.8rem;
    font-size: 1rem;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-button:hover {
    /* background: linear-gradient(135deg, #8f94fb, #4e54c8); */
    background: linear-gradient(135deg, #070b61, #2c33be);

}

.register-link {
    font-size: 0.9rem;
    text-align: center;
}

.register-link a {
    color: #4e54c8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link a:hover {
    /* color: #8f94fb; */
    color: #0b15d3;

}

.login-link {
    font-size: 0.9rem;
    text-align: center;
}

.login-link a {
    color: #4e54c8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-link a:hover {
    /* color: #8f94fb; */
    color: #0b15d3;

}


