*{
    margin: 0;
    padding: 0; 
  }

  .fondo-inicio {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
  }