*{
  margin: 0;
  padding: 0; 
}
/* esto es el video */
.principal {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* opacidad */
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.1);
}

/* esto es el logo */
.principal-header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtittle {
  text-align: center;
  color: white;
}
